services:
  flutter:
    build:
      dockerfile: ./android.Dockerfile
      target: flutter
      args:
        flutter_version: $FLUTTER_VERSION
    environment:
      ENABLE_ANALYTICS: $ENABLE_ANALYTICS
  
  android:
    build:
      dockerfile: ./android.Dockerfile
      target: android
      args:
        flutter_version: $FLUTTER_VERSION
        android_build_tools_version: $ANDROID_BUILD_TOOLS_VERSION
        android_platform_versions: $ANDROID_PLATFORM_VERSIONS
        android_ndk_version: $ANDROID_NDK_VERSION
        cmake_version: $CMAKE_VERSION
    environment:
      ENABLE_ANALYTICS: $ENABLE_ANALYTICS

  windows:
    build:
      dockerfile: ./windows.Dockerfile
      args:
        flutter_version: $FLUTTER_VERSION
