on:
  push:
    tags:
    - '*'
  workflow_dispatch:

# Read-only permissions by default
permissions:
  contents: read

jobs:
  release_android:
    permissions:
      # Allow to write packages to push the container image to the Github Container Registry
      packages: write
      # Allow to write security events to upload the results to code-scanning dashboard.
      security-events: write
    runs-on: ubuntu-24.04
    env:
      IMAGE_REPOSITORY_NAME: flutter-android
      ANDROID_BUILD_TOOLS_VERSION: 30.0.3
      VERSION_MANIFEST: config/version.json
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Generate authentication token with GitHub App
        uses: actions/create-github-app-token@0d564482f06ca65fa9e77e2510873638c82206f2 # v1
        id: generate-token
        with:
          app-id: ${{ secrets.VERIFIED_COMMIT_ID }}
          private-key: ${{ secrets.VERIFIED_COMMIT_KEY }}

      - name: Login to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Login to Quay.io
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Setup CUE
        uses: cue-lang/setup-cue@a93fa358375740cd8b0078f76355512b9208acb1 # v1.0.1

      - name: Read environment variables from version.json with CUE
        env:
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          IMAGE_REPOSITORY_NAME: ${{ env.IMAGE_REPOSITORY_NAME }}
          VERSION_MANIFEST: ${{ env.VERSION_MANIFEST }}
        run: ./script/set_environment_variables.sh

      - name: Load image metadata
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5
        id: metadata
        with:
          images: |
            ${{ env.IMAGE_REPOSITORY_PATH }}
            ghcr.io/${{ env.IMAGE_REPOSITORY_PATH }}
            quay.io/${{ env.IMAGE_REPOSITORY_PATH }}
          tags: |
            type=raw,value=${{ env.FLUTTER_VERSION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3

      - name: Build image and push it to registries
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6
        with:
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          labels: ${{ steps.metadata.outputs.labels }}
          tags: ${{ steps.metadata.outputs.tags }}
          target: android
          build-args: |
            flutter_version=${{ env.FLUTTER_VERSION }}
            fastlane_version=${{ env.FASTLANE_VERSION }}
            android_build_tools_version=${{ env.ANDROID_BUILD_TOOLS_VERSION }}
            android_platform_versions=${{ env.ANDROID_PLATFORM_VERSIONS }}
            android_ndk_version=${{ env.ANDROID_NDK_VERSION }}
            cmake_version=${{ env.CMAKE_VERSION }}

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@e98e4d1628a5f3be2be7c231e50981aee98723ae # v4
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
          repository: ${{ env.IMAGE_REPOSITORY_PATH }}
          short-description: ${{ github.event.repository.description }}
          readme-filepath: readme.md

      - name: Record image in Docker Scout environment
        id: docker-scout-environment
        uses: docker/scout-action@0133ff88fe16d4a412dc4827a8fccbccb6b583e0 # v1
        with:
          command: environment, cves
          # Use the Docker Hub image that is the first tag in the metadata
          image: registry://${{ fromJson(steps.metadata.outputs.json).tags[0] }}
          environment: prod
          only-fixed: true
          organization: ${{ secrets.DOCKER_HUB_USERNAME }}
          sarif-file: sarif.json
      
      - name: Update bootstrap image tag in environment variable
        run: gh variable set FLUTTER_VERSION --body "${{ env.FLUTTER_VERSION }}"
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}

      # Upload the results to GitHub's code scanning dashboard (optional).
      # Commenting out will disable upload of results to your repo's Code Scanning dashboard
      - name: Upload to code-scanning
        uses: github/codeql-action/upload-sarif@b56ba49b26e50535fa1e7f7db0f4f7b4bf65d80d # v3
        with:
          sarif_file: sarif.json

      # TODO: Use kaniko for building and pushing after slowness is solved
      # TODO: https://github.com/GoogleContainerTools/kaniko/issues/970
      # TODO: https://github.com/GoogleContainerTools/kaniko/issues/875
      # TODO: Use kaniko for building and pushing after pushing to Docker daemon is solved, to be able to test Docker image, with the following issues
      # TODO: https://github.com/GoogleContainerTools/kaniko/issues/1331
      # - name: Build image and push it to registries
      #   uses: int128/kaniko-action@v1
      #   with:
      #     push: true
      #     cache: true
      #     cache-repository: ${{ steps.ecr-cache.outputs.repository-uri }}
      #     tags: ${{ steps.metadata.outputs.tags }}
      #     labels: ${{ steps.metadata.outputs.labels }}
      #     build-args: |
      #       flutter_version=${{ env.FLUTTER_VERSION }}
      #       android_build_tools_version=${{ env.ANDROID_BUILD_TOOLS_VERSION }}
      #       android_platform_versions=${{ env.ANDROID_PLATFORM_VERSIONS }}
      #     kaniko-args: |
      #       --skip-unused-stages=true
      #       --use-new-run=true
      #       --snapshotMode=redo
      #     target: android
      #     executor: gcr.io/kaniko-project/executor:latest
# TODO: https://github.com/snok/container-retention-policy
# TODO: Push a build image before the final image
# TODO: Run basic tests with build image
# TODO: Push final image only if tests pass https://redhat-cop.github.io/ci/publishing-images.html
