on:
  schedule:
    - cron: '0 0 * * MON-FRI'
  workflow_dispatch:
jobs:
  update_flutter_version:
    permissions:
      id-token: write # Enable OIDC token because Gitsign creates keys based on the GitHub runner OIDC credentials
      contents: write
      pull-requests: write
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Update latest Flutter version
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7
        with:
          script: |
            const script = require('./script/updateFlutterVersion.js')
            await script({core, fetch})

      - name: Setup Cue for JSON validation
        uses: cue-lang/setup-cue@1713281ae501e533ff06108005dffeab9e2e5203 # v1.0.0

      - name: Validate version.json
        run: cue vet config/flutter_version.cue config/flutter_version.json

      - name: Setup Gitsign to sign git commits
        uses: chainguard-dev/actions/setup-gitsign@f94883c3bd16936401291899070258f855b5d849 # main
      
      - name: Create commit message variable
        run: |
          echo "COMMIT_MESSAGE=chore: update flutter version in flutter_version.json to ${{ env.FLUTTER_VERSION }}" >> $GITHUB_ENV

      - name: Create pull request if there are changes
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38 # v5
        with:
          commit-message: ${{ env.COMMIT_MESSAGE }}
          branch: update-flutter-version/${{ env.FLUTTER_VERSION }}
          title: ${{ env.COMMIT_MESSAGE }}
          token: ${{ secrets.GH_APP_TOKEN}}
